/*GRID*/
body {
    font-family: Helvetica neue;
    width:100vw;
}
#container {
    /*background-color: blue;*/
    display: flex;
    flex-wrap: wrap;
    width:60vw;
    height:60vw;
    gap: 0;
    margin: auto;
    border: 1px solid black;
    padding: 0;
    justify-content: center;
}
.square {
    /*background-color: red;*/
    flex-basis: 6.25%;
    height: 6.25%;
    margin: 0;
    padding: 0;
}
/* HOVER */
.coloredSquare {
    background-color: black;
}