body {
    font-family: Helvetica neue;
    width:100vw;
}
#container {
    /*background-color: blue;*/
    display: flex;
    flex-wrap: wrap;
    width:60vw;
    height:60vw;
    gap: 0;
    margin: auto;
}
.square {
    border: 1.19px solid black;
    /*background-color: red;*/
    flex-basis: 6%;
    height: 6%;
    margin:0;
}
